<% if pending.length > 0 %>
<div id="pending">
  <h3> Pets Pending Decision: </h3>
  <% pending.each do |application| %>
    <p> 
      <div id="pending-<%= application.pet.name %>">
      <%= application.pet.name %>
      <%= form_with url: "/admin/applications/#{app.id}", method: :patch, local: true do |f| %>
        <%= f.hidden_field :pet_id, :value => application.pet_id %>
        <%= f.hidden_field :approved, :value => true %>
        <%= f.submit "Approve" %>
      <% end %> 
      <%= form_with url: "/admin/applications/#{app.id}", method: :patch, local: true do |f| %>
        <%= f.hidden_field :pet_id, :value => application.pet_id %>
        <%= f.hidden_field :rejected, :value => true %>
        <%= f.submit "Reject" %>
      <% end %>
      </div> 
    </p>
  <% end %>
</div>
<% end %>
<% if  approved.length > 0%>
<div id="approved">
  <h3> Approved Pets: </h3>
  <% approved.each do |application| %>
    <p> <%= application.pet.name %> </p>
  <% end %>
</div>
<% end %>
<% if  rejected.length > 0%>
<div id="rejected">
  <h3> Rejected Pets: </h3>
  <% rejected.each do |application| %>
    <p> <%= application.pet.name %> </p>
  <% end %>
</div>
<% end %>