<h1> <%= @application.applicant %>'s Application </h1>
<p> Address: <%= "#{@application.street}, #{@application.city}, #{@application.state} #{@application.zipcode}" %> </p>
<p> Reason: <%= @application.reason %> </p>
<p> Status: <%= @application.status %> </p>

<div id="admin">
  <% if current_page?("/admin/applications/#{@application.id}") %>
    <%= render partial: 'admin', locals: {app: @application, pending: @pet_applications_pending, approved: @pet_applications_approved, rejected: @pet_applications_rejected} %>
</div>
<div id="user">
  <% else %>
    <%= render partial: 'user', locals: {app: @application, app_pets: @pets} %>
  <% end %>
</div>